<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
    <style>
        .img-container {
            text-align: center;
            margin: 20px 0;
        }

        .img-container img {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="dropdown d-inline-block float-end" id="uploadButton">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-auto-close="outside">
                <i class="bi bi-cloud-upload"></i>
            </button>
            <div class="dropdown-menu">
                <form class="px-3 py-2" id="uploadForm">
                    <div class="mb-3">
                        <input type="file" class="form-control" id="imageInput" name="image" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
        <h1 class="mt-5">Image Gallery</h1>
        <div class="row mt-4" id="gallery">
            <% files.sort(sorted).forEach((file)=> { %>
                <div class="col-md-4" id="image<%= file.filename %>">
                    <div class="card mb-4">
                        <img src="/cdn/<%= file.filename %>" class="card-img-top" alt="<%= file.originalname %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= file.originalname %>
                                    <span class="badge bg-secondary float-end" title="size"> <i
                                            class="bi bi-file-earmark-text"></i>
                                        <%= (file.size / 1024 / 1024).toFixed(2); %> MB
                                    </span>
                            </h5>
                            <p class="card-text">
                                <small class="text-muted">Uploaded on <%= new
                                        Date(parseInt(file.filename.split("-")[0])).toLocaleString() %></small>
                            </p>
                            <a href="/download/<%= file.filename %>" class="btn btn-primary">
                                <i class="bi bi-cloud-download"></i> Download</a>
                            <a href="/cdn/<%= file.filename %>" class="btn btn-success"> <i
                                    class="bi bi-link-45deg"></i> View</a>
                            <button id="copyLink<%= file.filename %>"
                                onclick="navigator.clipboard.writeText('http://localhost:3000/cdn/<%= file.filename %>'); document.getElementById('copyLink<%= file.filename %>').innerHTML = '<i class=\'bi bi-clipboard-check\'></i> Copy Link'; setTimeout(() => { document.getElementById('copyLink<%= file.filename %>').innerHTML = '<i class=\'bi bi-clipboard\'></i> Copy Link'; }, 1000);"
                                class="btn btn-secondary"> <i class="bi bi-clipboard"></i> Copy Link</button>
                            <button id="editImage<%= file.filename %>" class="btn btn-warning"> <i
                                    class="bi bi-pencil"></i> Edit</button>

                        </div>
                    </div>
                </div>
                <%});%>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Edit Image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="justify-content-center d-flex">
                            <h5 id="imageName"></h5>
                            <button id="deleteImage" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </div>
                        <div id="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" data-method="zoom" data-option="0.1"
                                    title="Zoom In">
                                    <span class="bi bi-zoom-in"></span>
                                </button>
                                <button type="button" class="btn btn-secondary" data-method="zoom" data-option="-0.1"
                                    title="Zoom Out">
                                    <span class="bi bi-zoom-out"></span>
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" data-method="rotate" data-option="-45"
                                    title="Rotate Left">
                                    <span class="bi bi-arrow-counterclockwise"></span>
                                </button>
                                <button type="button" class="btn btn-secondary" data-method="rotate" data-option="45"
                                    title="Rotate Right">
                                    <span class="bi bi-arrow-clockwise"></span>
                                </button>
                                <button type="button" class="btn btn-secondary" data-method="scaleX" data-option="-1"
                                    title="Flip Horizontal">
                                    <span class="bi bi-symmetry-vertical"></span>
                                </button>
                                <button type="button" class="btn btn-secondary" data-method="scaleY" data-option="-1"
                                    title="Flip Vertical">
                                    <span class="bi bi-symmetry-horizontal"></span>
                                </button>


                            </div>
                        </div>
                        <div class="img-container">
                            <img id="image" src="">
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();
            const gallery = document.getElementById('gallery');
            const uploadForm = document.getElementById('uploadForm');
            const imageInput = document.getElementById('imageInput');
            const cropButton = document.getElementById('crop');
            const dropdown = new bootstrap.Dropdown(document.getElementById('uploadButton'));
            var $modal = $('#modal');
            var image = document.getElementById('image');
            var cropper;

            $modal.on('shown.bs.modal', function () {
                cropper = new Cropper(image, {

                    viewMode: 3,

                });


            }).on('hidden.bs.modal', function () {
                if (cropper) {
                    cropper.destroy();
                    cropper = null;
                }
                $('.progress-bar').width('0%').attr('aria-valuenow', 0);
                $('.progress-bar').removeClass('bg-success bg-danger');
            });

            document.getElementById('toolbar').addEventListener('click', (e) => {
                e.preventDefault();

                if (e.target.tagName === 'BUTTON' || e.target.tagName === 'SPAN') {
                    const method = e.target.tagName != 'SPAN' ? e.target.dataset.method : e.target.parentElement.dataset.method;
                    const option = e.target.tagName != 'SPAN' ? e.target.dataset.option : e.target.parentElement.dataset.option;

                    if (method && option) {
                        cropper[method](option);
                    }
                    
                    if (method == "scaleX" || method == "scaleY") {
                        e.target.tagName != 'SPAN' ? e.target.dataset.option = option == "-1" ? "1" : "-1" : e.target.parentElement.dataset.option = option == "-1" ? "1" : "-1";
                    }
                }
            });

            socket.on('newImage', (file) => {
                const col = document.createElement('div');
                col.classList.add('col-md-4');
                col.innerHTML = `
                <div class="card mb-4" id="image${file.filename}">
                    <img src="/cdn/${file.filename}" class="card-img-top" alt="${file.originalname}">
                    <div class="card-body">
                        <h5 class="card-title">
                            ${file.originalname}
                            <span class="badge bg-secondary float-end" title="size"> <i class="bi bi-file-earmark-text"></i>
                                ${(file.size / 1024 / 1024).toFixed(2)} MB
                            </span>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">Uploaded on ${new Date(parseInt(file.filename.split("-")[0])).toLocaleString()}</small>
                        </p>
                        <a href="/download/${file.filename}" class="btn btn-primary"> <i class="bi bi-cloud-download"></i> Download</a>
                        <a href="/cdn/${file.filename}" class="btn btn-success"> <i class="bi bi-link-45deg"></i> View</a>
                        <button id="copyLink${file.filename}" onclick="navigator.clipboard.writeText('http://localhost:3000/cdn/${file.filename}'); document.getElementById('copyLink${file.filename}').innerHTML = '<i class=\'bi bi-clipboard-check\'></i> Copy Link'; setTimeout(() => { document.getElementById('copyLink${file.filename}').innerHTML = '<i class=\'bi bi-clipboard\'></i> Copy Link'; }, 1000);" class="btn btn-secondary"> <i class="bi bi-clipboard"></i> Copy Link</button>
                        <button id="editImage${file.filename}" class="btn btn-warning"> <i class="bi bi-pencil"></i> Edit</button>
                    </div>
                </div>
                `;

                gallery.insertBefore(col, gallery.firstChild);
            });

            socket.on('editImage', (file) => {
                const card = document.getElementById(`image${file.oldFilename}`);
                console.log(file, card)
                card.querySelector('img').src = `/cdn/${file.filename}`;
                card.querySelector('.card-title').textContent = file.originalname;
                card.querySelector('.card-text small').textContent = `Uploaded on ${new Date(parseInt(file.filename.split("-")[0])).toLocaleString()}`;
                card.querySelector('.badge').textContent = `${(file.size / 1024 / 1024).toFixed(2)} MB`;
                card.querySelector('.btn-primary').href = `/download/${file.filename}`;
                card.querySelector('.btn-success').href = `/cdn/${file.filename}`;
                card.querySelector('.btn-secondary').setAttribute('onclick', `navigator.clipboard.writeText('http://localhost:3000/cdn/${file.filename}'); document.getElementById('copyLink${file.filename}').innerHTML = '<i class=\'bi bi-clipboard-check\'></i> Copy Link'; setTimeout(() => { document.getElementById('copyLink${file.filename}').innerHTML = '<i class=\'bi bi-clipboard\'></i> Copy Link'; }, 1000);`);
                card.querySelector('.btn-warning').id = `editImage${file.filename}`;
            });

            socket.on('deleteImage', (filename) => {
                document.getElementById(`image${filename}`).remove();
            });

            uploadForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const formData = new FormData(uploadForm);

                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('Image uploaded successfully');
                            dropdown.hide();
                        }
                    })
                    .catch(error => {
                        console.error('Error uploading image:', error);
                    });

                uploadForm.reset();
            });

            gallery.addEventListener('click', (e) => {
                if (e.target.id.startsWith('editImage')) {
                    const filename = e.target.id.replace('editImage', '');
                    image.src = `/cdn/${filename}`;
                    document.getElementById('imageName').textContent = filename
                    $modal.modal('show');
                }
            });

            cropButton.addEventListener('click', () => {
                const canvas = cropper.getCroppedCanvas();
                canvas.toBlob((blob) => {
                    const formData = new FormData();
                    formData.append('croppedImage', blob, document.getElementById('imageName').textContent);
                    formData.append('filename', document.getElementById('imageName').textContent);

                    $.ajax('/edit', {
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        xhr: function () {
                            const xhr = new XMLHttpRequest();
                            xhr.upload.onprogress = function (e) {
                                const percent = e.lengthComputable ? (e.loaded / e.total) * 100 : 0;
                                $('.progress-bar').width(percent + '%').attr('aria-valuenow', percent);
                            };
                            return xhr;
                        },
                        success() {
                            $('.progress-bar').addClass('bg-success');
                            console.log('Image cropped successfully');
                            $modal.modal('hide');
                        },
                        error() {
                            $('.progress-bar').addClass('bg-danger');
                            console.error('Error cropping image');
                        },
                    });
                });
            });

            document.getElementById('deleteImage').addEventListener('click', () => {
                const filename = document.getElementById('imageName').textContent;
                $.ajax(`/delete/${filename}`, {
                    method: 'DELETE',
                    success() {
                        console.log('Image deleted successfully');
                        $modal.modal('hide');
                        document.getElementById(`image${filename}`).remove();
                    },
                    error() {
                        console.error('Error deleting image');
                    },
                });
            });


        });
    </script>

</body>

</html>